In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
import time, datetime
from collections import Counter

# Yamz

In [124]:
df = pd.read_csv("iMessage.csv")
df.head()

,text,handle_id,date,is_from_me
0,ÔøºMy uncle that lives in Texas thinks the cross...,303,5.644490e+17,1.0
1,HAHAHAHAHA,303,5.644500e+17,0.0
2,Omgggg he‚Äôs funny,303,5.644500e+17,0.0
3,HAHA he‚Äôs hilarious lolol,303,5.644500e+17,1.0
4,Hope you‚Äôre doing well!!,303,5.644500e+17,1.0

In [125]:
#Identify senders
df.loc[(df['is_from_me'] == 1, "is_from_me")] = "Oscar"
df.loc[(df['is_from_me'] == 0, "is_from_me")] = "Yamz"

#Get rid of null cells
df = df.dropna(subset = ['text'])
df = df[df['text'] !=0]

In [126]:
#Create a column for the number of words in messages
df['words'] = df['text'].apply(lambda x: len(str(x).split(" ")))

#Create another column for the number of characters in messages
df['characters'] = df['text'].str.len()

#Lowercase for all words
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [127]:
#Group dataframe to see most common messages sent by each sender
groupsMessage = df.set_index('is_from_me')
groupsMessage.sort_index(inplace=True)

#Most common messages G sent
mostCommonG = groupsMessage.loc["Oscar", "text"].value_counts().head(23)
mostCommonG = pd.DataFrame(mostCommonG)

#Most common messages L sent
mostCommonL = groupsMessage.loc["Yamz", "text"].value_counts().head(23)
mostCommonL = pd.DataFrame(mostCommonL)

display("Most common words used by Oscar", mostCommonG) 
print("")
display("Most common words used by Yamz", mostCommonL)

'Most common words used by Oscar'

            text
Ôøº            285
lol          260
yes          170
haha         108
üòÇüòÇüòÇ          103
lolol        103
üòÇüòÇ            96
hahaha        96
hahahaha      69
smh           53
üòÇ             45
hahahahaha    37
lolol jkjk    32
:-(           29
true          29
yeah          28
üôÑüôÑüôÑ           27
well          27
nice nice     26
nice          25
okay          25
üôÑ             24
no            23

'Most common words used by Yamz'

                     text
0                     552
Ôøº                     197
hahaha                138
laughed at an image    94
yea                    73
hahahaha               60
no                     52
lol                    45
hahah                  34
ok                     33
yes                    30
haha                   28
wow                    27
yep                    25
hahahah                24
üôÑ                      22
hahahahaha             21
?                      20
what                   20
i know                 16
oh                     16
sure                   15
exactly                12

In [94]:
len(df)

23260

In [96]:
df.tail()

,text,handle_id,date,is_from_me,words,characters
23651,estas palido,303,6.150670e+17,Yamz,2,12
23652,loved ‚Äúyou go see the sunshine‚Äù,303,6.150670e+17,Oscar,6,31
23653,gotta make sure i wear some sunscreen before i...,303,6.150670e+17,Oscar,13,65
23654,https://www.reddit.com/r/watchpeopledieinside/...,303,6.150830e+17,Oscar,1,127
23655,laughed at ‚Äúhttps://www.reddit.com/r/watchpeop...,303,6.150840e+17,Yamz,3,140

In [130]:
df_word_sort = df.sort_values(by=['words'], ascending = False)
df_word_sort.head(10)

,text,handle_id,date,is_from_me,words,characters
21678,it seems to me that this god can just about do...,303,6.139720e+17,Oscar,587,3197
21682,idc how many times you tell me that god is jus...,303,6.139730e+17,Oscar,412,2157
21556,he talks as if humans got our morals from the ...,303,6.138770e+17,Oscar,339,1847
6692,my note ‚Äúbefore i forget : my mom sent me a vo...,303,5.859620e+17,Yamz,294,1445
22805,"lol, no, i don‚Äôt think that just bc you grew u...",303,6.143900e+17,Oscar,284,1501
20341,i read the article. i know whats happening. it...,303,6.128190e+17,Yamz,281,1529
6131,loved ‚Äúi hung out with my friend jeraun and he...,303,5.836940e+17,Yamz,278,1423
6128,i hung out with my friend jeraun and he told m...,303,5.836940e+17,Oscar,277,1415
22463,well a couple things here: 1) you‚Äôre absolutel...,303,6.142050e+17,Oscar,274,1488
21565,you literally missed important points in the v...,303,6.138790e+17,Yamz,268,1473

# Grace

In [2]:
df = pd.read_csv("iMessage2.csv")
df.head()

,ROWID,guid,text,replace,service_center,handle_id,subject,country,attributedBody,version,...,ck_record_id,ck_record_change_tag,destination_caller_id,sr_ck_sync_state,sr_ck_record_id,sr_ck_record_change_tag,is_corrupt,reply_to_guid,sort_id,is_spam
0,49463,9267B52F-5C67-4D0F-917A-D2C17E54B469,Grace,0,NaN,297,NaN,NaN, streamtypedÔøΩÔøΩÔøΩ@ÔøΩÔøΩÔøΩNSMutableAttributedString,10,...,b0f8b2ba1b43b29f2c450c3371bea31c76f038223a647f...,aa,1.562335e+10,0.0,NaN,NaN,0.0,NaN,0.0,0.0
1,49465,2A03BFDC-145C-41C8-9E2C-E175B0178BF1,I‚Äôm going to be in Downey December 20-27. Pls ...,0,NaN,297,NaN,NaN, streamtypedÔøΩÔøΩÔøΩ@ÔøΩÔøΩÔøΩNSMutableAttributedString,10,...,0126a2186a6da6593ebe98bfe33fb2ba8872ba1f75f4bf...,ab,1.562335e+10,0.0,NaN,NaN,0.0,NaN,0.0,0.0
2,49470,1C3ADC90-FE88-4753-B1B5-171DA08A49B3,"And uh, bring Yamz :-)",0,NaN,297,NaN,NaN, streamtypedÔøΩÔøΩÔøΩ@ÔøΩÔøΩÔøΩNSMutableAttributedString,10,...,92e17dbb9f61d5f9cec59670c2cdcf8a351842a46ba5ae...,ac,1.562335e+10,0.0,NaN,NaN,0.0,NaN,0.0,0.0
3,49471,1EC98497-D5D4-414C-9C5B-B95BC9278549,Ôøº,0,NaN,297,NaN,NaN, streamtypedÔøΩÔøΩÔøΩ@ÔøΩÔøΩÔøΩNSMutableAttributedString,10,...,20515c24333d4b1ab4bb0dccb54d1523d11cf140057ccc...,ad,1.562335e+10,0.0,NaN,NaN,0.0,NaN,0.0,0.0
4,49473,BD435074-6F0F-43E9-9FD1-85CC13D06E74,Okay!!!! Let me know when you get here!,0,NaN,297,NaN,NaN, streamtypedÔøΩÔøΩÔøΩ@ÔøΩÔøΩÔøΩNSMutableAttributedString,10,...,d9d590fe9b8af89ae04d307a1ea370fb01056d0da4d032...,ae,1.562335e+10,0.0,NaN,NaN,0.0,NaN,0.0,0.0

In [3]:
#Identify senders
df.loc[(df['is_from_me'] == 1, "is_from_me")] = "Oscar"
df.loc[(df['is_from_me'] == 0, "is_from_me")] = "Grace"

#Get rid of null cells
df = df.dropna(subset = ['text'])
df = df[df['text'] !=0]

In [4]:
#Create a column for the number of words in messages
df['words'] = df['text'].apply(lambda x: len(str(x).split(" ")))

#Create another column for the number of characters in messages
df['characters'] = df['text'].str.len()

#Lowercase for all words
df['text'] = df['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [5]:
#Group dataframe to see most common messages sent by each sender
groupsMessage = df.set_index('is_from_me')
groupsMessage.sort_index(inplace=True)

#Most common messages G sent
mostCommonG = groupsMessage.loc["Oscar", "text"].value_counts().head(23)
mostCommonG = pd.DataFrame(mostCommonG)

#Most common messages L sent
mostCommonL = groupsMessage.loc["Grace", "text"].value_counts().head(23)
mostCommonL = pd.DataFrame(mostCommonL)

display("Most common words used by Oscar", mostCommonG) 
print("")
display("Most common words used by Grace", mostCommonL)

'Most common words used by Oscar'

          text
lol         85
Ôøº           76
yes         46
lolol       27
haha        26
üôÑ           24
üòÇüòÇüòÇ         22
hahaha      22
nice        21
hahahaha    17
dude        16
no          16
bruh        14
idk         13
wow         13
nah         13
üòÇüòÇ          13
okay        13
true        12
wait        11
i know      10
:/          10
grace       10

'Most common words used by Grace'

                text
0                197
Ôøº                 22
what              15
yeah              11
why               11
lol               10
yes               10
stfu               9
bye                9
lmao               8
ahahahah           7
smh                7
f u                7
ahahaha            6
do u wanna die     6
nope               5
i know             5
no                 5
true               5
ew                 5
huh                4
yup                4
wassup             4